.app {
	background-color: #f3f2ef;
	display: grid;
	/* flex-direction: column; */
	/* align-items: center; */
}

.app__body {
	width: 70rem;
	display: grid;
	margin: 20px auto;
	grid-template-columns: 1.5fr 3fr 2fr;
}
