.inputOption {
	display: flex;
	align-items: center;
	color: gray;
	padding: 15px 10px;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.inputOption:hover {
	background-color: whitesmoke;
	border-radius: 10px;
}

.inputOption > h4 {
	margin-left: 10px;
	font-weight: 500;
}
