.post {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.post__header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.post__header .photo {
	margin-right: 10px;
}

.post__info > h2 {
	font-size: 15px;
	font-weight: 500;
}

.post__info > p {
	color: gray;
	font-size: 12px;
}

.post__body {
	overflow-wrap: anywhere;
	padding: 5px;
	border-bottom: 1px solid #99999972;
}

.post__buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
}

.post__buttons > * {
	padding: 15px 40px !important;
}

.post__sharedImage {
	margin-top: 10px;
	height: 450px;
	object-fit: cover;
}
